@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(255, 255, 255));
}

.vid1{
  background-image: url(https://images.pexels.com/photos/123335/pexels-photo-123335.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.carousel {
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slide {
  flex: 0 0 100%;
}

.prev-btn,
.next-btn {
  cursor: pointer;
}
